.midivision{
    border:skyblue solid 1px;
    width: 200px;
    margin: 0 auto;

}

.inputtext{
    margin: 10px;
    width: 100px;

}

.miboton{
    margin:20px;
    background-color: sandybrown;
    height: 20px;
    width: 100px;
    border-style: none;
}

#resultado{
    font-size: 60px;
    margin:0 auto;
    width: 100px;
}

